<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, level=%p, thread=%t, logger=%c, line=%line, message=%m%n</Pattern>
        </encoder>
    </appender>
    <springProfile name="local">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- keep 5 days' worth of history -->
                <maxHistory>5</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>utf-8</charset>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, level=%p, thread=%t, logger=%c, line=%line, message=%m%n</Pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>